<%
  page_title "Registrace do volební komise"
  breadcrumb :commisary_edit, @commisary
%>

<div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Oprava registrace do okrskové volební komise</h3>
          </div>
    <div class="panel-body">
  <% if 1==0 #!@commisary.ward.town_hall.region.registration_ends_at.blank? && @commisary.ward.town_hall.region.registration_ends_at < Time.now %>
    <strong>Registrace do okrskových volebních komisí jsou již uzavřeny.</strong>
  <% else %>
    <!-- <table class="table"><%=render partial: 'commisaries/ward'%></table> -->
    <!-- <h2>Údaje osoby</h2> -->
    <%= simple_form_for(@commisary) do |f| %>
      <%= f.input :name, hint: '(vzor: Petr Mach)' %>
      <%= f.input :birth_number, hint: '(vzor: 20.1.1980)' %>
      <%= f.input :address, placeholder: 'Ulice 536, 111 00 Praha 1', hint: '<strong>Dle občanky!</strong> (vzor: Perucká 2196, 120 00 Praha 2)'.html_safe %>
      <%= f.input :phone, hint: '(vzor: 773697983)' %>
      <%= f.input :email, placeholder: 'mach@svobodni.cz', hint: '(vzor: mach@svobodni.cz)', disabled: true %>
      <%= f.input :postal_address, placeholder: 'Ulice 536, 111 00 Praha 1', hint: '<strong>Vyplňujte jen pokud se liší od trvalého bydliště</strong>'.html_safe %>
      <%= f.submit "Uložit opravu", class: "btn btn-primary btn-block btn-lg" %>
    <% end %>
  <% end %>
</div>
</div>
