<% page_title "Detail registrace" %>
<% breadcrumb :commisary, @commisary %>

<% if configatron.registration_allowed %>
  <p class="perex">Až do uzávěrky <%=l configatron.registration_ends_at%> můžete opravovat a doplňovat své údaje. Poté je předáme na příslušnou radnici.</p>
<% else %>
  <p class="perex">Registrace jsou uzavřeny, údaje jsme odeslali starostům. Pokud potřebujete registraci zrušit, můžete písemně na radnici.</p>
<% end %>

<div class="panel panel-primary">
  <div class="panel-body">
    <table class="table">
      <%= render partial: 'ward' %>
      <% [:name, :birth_number, :address, :phone, :email, :postal_address].each do |column|%>
        <tr><th><%= Commisary.human_attribute_name(column) %></th><td><%=@commisary.send(column)%></td></tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-push-6">
    <%= link_to "Opravit údaje", edit_commisary_path(@commisary), class: "btn btn-lg btn-primary btn-block" if can? :edit, @commisary %>
  </div>
  <div class="col-sm-6 col-sm-pull-6">
    <%= link_to("Zrušit registraci", @commisary, method: :delete, data: {
          confirm: 'Opravdu chcete zrušit registraci do okrskové volební komise?',
          :'confirm-button-text' => 'Ano, chci zrušit',
          :'cancel-button-text' => 'Omyl, nechci nic rušit',
          :'confirm-button-color' => '#d9534f',
          :'sweet-alert-type' => 'warning',
          text: 'Registrace bude okamžitě zrušena'
        }, class: "btn btn-lg btn-danger btn-block"
      ) if can? :destroy, @commisary
    %>
  </div>
</div>
