<%
  page_title "Registrace do okrskové volební komise"
  breadcrumb :ward, @commisary.ward
%>

<div class="col-md-9" role="main">


<%#= image_tag(@commisary.ward.town_hall.flag_path, width: '100px') %>

<% if !@commisary.ward.town_hall.region.registration_ends_at.blank? && @commisary.ward.town_hall.region.registration_ends_at < Time.now %>
<strong>Registrace do okrskových volebních komisí jsou již uzavřeny.</strong>
<% else %> 
<% if @commisary.errors.any? %>
  <div id="error_explanation">
    <h2>Prosím, opravte <%= @commisary.errors.count %> chyb ve formuláři:</h2>
 
    <ul>
    <% @commisary.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% else %>
<table class="table">
<tbody>
<tr>
	<td><em>Kraj:</th>
	<td><%= @commisary.ward.municipality.region.name %></td>
	<td>[<%=link_to "Změnit", wizard_path(:region)%>]</td>
</tr>

<tr>
	<td><em>Obec:</th>
	<td><%= @commisary.ward.municipality.name %></td>
	<td>[<%=link_to "Změnit", wizard_path(:municipality, region_id: @commisary.ward.town_hall.region)%>]</td>
</tr>

<% if @commisary.ward.district %>
<tr><td><em>Městská část / obvod:</em></td><td><%= @commisary.ward.district.name %></td><td></td></tr>
<% end %>

<tr>
	<td><em>Úřad:</em></td>
	<td><%= @commisary.ward.town_hall.name %><br><%= @commisary.ward.town_hall.address.gsub(/\n/,'<br />').html_safe %></td>
	<td><%= image_tag(@commisary.ward.town_hall.heraldry_path, width: '50px') %></td>
</tr>

<tr>
  <td><em>Číslo okrsku:</th>
  <td><%= @commisary.ward.external_id %></td>
  <td>[<%=link_to "Změnit", wizard_path(:ward, municipality_id: @commisary.ward.municipality, district_id: @commisary.ward.district)%>]</td>
</tr>

</tbody>
</table>

<% end %>

  <div class="forxm">
    <%= form_for @commisary, url: wizard_path, method: :put, html: { role: :form } do |f| %>
    <%= f.hidden_field :ward_id %>

<div class="form-group">
    <label for="commisary_name">Jméno a příjmení:</label>
    <%= f.text_field :name, class: 'form-control' %>
    <p class="help-block">(vzor: Petr Mach)</p>
  </div>

    <div class="form-group">
      <label for="commisary_birth_number">Datum narození:</label>
      <%= f.text_field :birth_number, class: 'form-control' %>
      <p class="help-block">(vzor: 24.12.1930)</p>
    </div>

    <div class="form-group">
      <label for="commisary_address">Adresa trvalého bydliště:</label>
      <%= f.text_field :address, class: 'form-control' %>
      <p class="help-block"><strong>Dle občanky!</strong> (vzor: Perucká 2196, 120 00 Praha 2)</p>
    </div>

    <div class="form-group">
      <label for="commisary_phone">Telefon:</label>
      <%= f.text_field :phone, class: 'form-control' %>
      <p class="help-block">(vzor: 773697983)</p>
    </div>

    <div class="form-group">
      <label for="commisary_email">Email:</label>
      <%= f.text_field :email, class: 'form-control' %>
      <p class="help-block">(vzor: mach@svobodni.cz)</p>
    </div>

    <div class="form-group">
      <label for="commisary_postal_address">Korespondenční adresa:</label>
      <%= f.text_field :postal_address, class: 'form-control' %>
      <p class="help-block"><strong>Vyplňujte jen pokud se liší od trvalého bydliště</strong></p>
    </div>

<p>Na základě vyplněné registrace Vás Strana svobodných občanů bude delegovat do okrskové volební komise. Do okrskových volebních komisí se mohou přihlašovat pouze občané České republiky starší 18 let. </p>

<%= f.submit "Odeslat přihlášku", class: "btn btn-default" %>
    <% end %>

<% end %>

</div>