<%
  page_title 'Poslední doménové události'
  breadcrumb :events
%>

<div class="panel panel-default">
  <div class="panel-body bg-success">
<%= simple_form_for @event, url: events_path, method: :get do |f| %>
<%= f.input :eventable_id, label: "ID" %>
<%= f.input :name, collection:  Event.group(:name).uniq.collect{|k,v| k}.compact, label: "Událost" %>
<%= f.button :submit, "Vyhledat", class: "pull-right" %>
<% end %>
</div>
</div>

<table class="table">
<thead>
  <tr>
    <th>Kdy</th>
    <th>Co</th>
    <th>Kde</th>
    <th>Detail</th>
    <th></th>
</thead>
<tbody>
<% for event in @events %>
<tr>
  <td><%= distance_of_time_in_words_to_now event.created_at %></td>
  <td><%= event.name %></td>
  <td><%= link_to "##{event.eventable_id}", event.eventable %></td>
  <td>
    <%#= render(partial: "data", locals: {data: event.data, eventable_type: event.eventable_type, condensed:true})%>
  </td>
</tr>
<% end %>
</tbody>
</table>

<%#= will_paginate @events, class: "pull-right" %>
