<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=@page_title%></title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- <link href='http://fonts.googleapis.com/css?family=Adelle' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- build:css styles/main.css -->
    <!-- <link rel="stylesheet" href="styles/main.css"> -->
    <!-- endbuild -->

		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>

    <!-- build:js scripts/vendor/modernizr.js -->
    <!-- <script src="/bower_components/modernizr/modernizr.js"></script> -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <div class="header">
        <!-- <nav class="navbar navbar-default">
          <div class="container-fluid"> -->

          <div class="pull-right">
          <% if person_signed_in? %>
            Přihlášen <%= link_to current_person.name, current_person %>
            <%= link_to('Odhlásit', destroy_session_path(current_person), method: :delete, class: "btn btn-default") %>
          <% end %>
          <% if user_signed_in? %>
          <div style="margin-top: 10px">
            <%= link_to "Události", events_path, class: "btn btn-sm btn-default" if can? :read, Event %>
            <%= link_to "Uživatelé", users_path, class: "btn btn-sm btn-default" if can? :read, User %>
            <%= link_to "Dopisy", regions_path, class: "btn btn-sm btn-primary" if can? :letter, Region %>
          </div>
          <% end %>
          </div>

        <a class="navbar-brand" rel="home" href="/" title="Svobodní">
				<%= image_tag '02_SVOBODNI_logo_tagline.png', style:
        "height: 100px; margin-top: -20px; margin-left: -35px;" %>

        </a>
      </div>

      <div class="content">
        <%= bootstrap_flash %>
        <ul class="nav nav-pills pull-right">
          <%= breadcrumbs separator: " / " %>
        </ul>
        <div class="row">
          <div class="col-sm-12">
            <h1><%=@page_title%></h1>
						<%= yield %>
          </div>
        </div>

        <!-- <div class="jumbotron">
          <h1>'Allo, 'Allo!</h1>
          <p class="lead">Always a pleasure scaffolding your apps.</p>
          <p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>
        </div>
   -->
      </div>

      <div class="footer">
        <div class="row">
          <div class="col-sm-4"><%=link_to "www.svobodni.cz", "https://web.svobodni.cz"%></div>
          <div class="col-sm-4"><%=mail_to "kancelar@svobodni.cz", "kancelar@svobodni.cz"%></div>
          <div class="col-sm-4">tel. 773 697 985</div>
        </div>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- <script src="/bower_components/jquery/dist/jquery.js"></script> -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <!-- <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script> -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <!-- <script src="scripts/main.js"></script> -->
    <!-- endbuild -->
  </body>
</html>
